.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/engine/
ios/Flutter/ephemeral/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
*.ipr
*.iws
.idea/
*.swp
*.lock
pubspec.lock
.vscode/
.DS_Store
*.log

/.github/commitlint/node_modules/
